@charset "utf-8";

body {
	/*color: white;*/
	/*font-size: 14px;*/
	/*line-height: 1.5;*/
	font-family: 'Helvetica Neue', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', STHeitiSC-Light, 'Microsoft YaHei', 微软雅黑, Arial, sans-serif;
	/*text-shadow: 0 1px 3px rgba(0,0,0,0.5);*/
    /*background-color: #2A2A2A;*/
    /*background-image: url("/static/img/bg.jpg");*/
}


#navbar-collapse-archives {
    display: none;
}

.jumbotron {
    background-image: url("/static/img/bg-1.jpg");
    margin: 50px 0 0 0;
    color: #ccc;
}
.jumbotron h1 {
    font-size: 36px;
    padding: 0 0 0 20px;
}

.jumbotron h4 {
    font-size: 18px;
    padding: 0 0 0 20px;
}

#_archives {
    background: #eee;
    padding: 40px 0;
}


.info-content {
    background: #fff;
    margin: 0 0 10px 0;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 5px;
}
.info-content img {
    margin: 12px 0;
}

.info-content h4 {
    color: #333;
    padding: 2px 0 0 0;
    font-size: 20px;
    margin-left: -10px;
}

.info-content p {
    line-height: 1.7;
    margin-left: -10px;

}

.info-right {
    background-color: #fff;
    box-shadow: 2px 2px 3px #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.info-right blockquote {
    margin: 0;
    padding: 0;
    background-color: #008EB7;
}

.info-right h2 {
    font-size: 20px;
    color: #fff;
    padding: 5px;
}

.info-right h4 {
    color: #333;
    font-size: 15px;
}

.info-right p {
    font-size: 10px;
}

a.hidefocus {
    outline:none
}
a:focus {
     outline: none;
}

.content-h4 {

}
.content-h4 a {
    color: #3c3c3c;
}
/*媒体查询,参考部分 Bootstrap 框架*/
/*当页面大于 1200px 时,大屏幕,主要是 PC 端*/
@media (min-width: 1200px) {

}


/*在 992 和 1199 像素之间的屏幕里,中等屏幕,分辨率低的 PC*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*在 768 和 991 像素之间的屏幕里,小屏幕,主要是 PAD*/
@media (min-width: 768px) and (max-width: 991px) {




}

/*在 480 和 767 像素之间的屏幕里,超小屏幕,主要是手机*/
@media (min-width: 480px) and (max-width: 767px) {
    #navbar-collapse-archives {
        display: block;
    }
    #right_bar {
        display: none;
    }
    .jumbotron h1 {
        font-size: 28px;
        padding: 0 0 0 20px;
    }

    .jumbotron h4 {
        font-size: 18px;
        padding: 0 0 0 16px;
    }
    .info-content h4 {
        color: #333;
        padding: 2px 0 0 0;
        font-size: 16px;
        margin-top: 25px;
    }

}

/*在小于 480 像素的屏幕,微小屏幕,更低分辨率的手机*/
@media (max-width: 479px) {
    #navbar-collapse-archives {
        display: block;
    }

    #right_bar {
        display: none;
    }
    .jumbotron h1 {
        font-size: 26px;

    }

    .jumbotron h4 {
        font-size: 15px;

    }
    .info-content h4 {
        font-size: 14px;
        margin-top: 10px;
    }


}