<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>No Blog</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/archives.css">
</head>
<body>

<nav id="_nav" class="navbar navbar-default navbar-fixed-top">
    <h1 class="hide">No Blog</h1>
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">No Blog</a>

            <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li class="active"><a href="/archives/"><span class="glyphicon glyphicon-th"></span> 归档</a></li>
                <li><a href="https://github.com/sugare" target="_blank"><span class=" glyphicon glyphicon-list-alt"></span> Github</a></li>
            </ul>
        </div>
        <div id="navbar-collapse-archives">
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown-header" style="margin-left: -10px;">文章分类</li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> 日期排列</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-random"></span> 类型排列</a></li>
            </ul>
        </div>
        </div>


    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>No Blog</h1>
        <h4>No Blog: Not Only Blog, is a responsive blog system </h4>
    </div>
</div>

<div id="_archives">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="container-fluid" style="padding: 0">
                    <div class="row info-content">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <img src="/static/img/info1.jpg" class="img-rounded img-responsive" alt="">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <h4>观点总局发布T 发生 反倒是o</h4>
                            <p class="hidden-xs">
                                摘要：观点总局发布T 反击的都是发点总点总局发布T 反击的都是发点总点总局发布T 反击的都是发点总局发布T 反击的都是发生 反倒总局发布T 反击的都是发生 反倒是o观点总局发布T 反击的都是发生 反倒是o
                            </p>
                            <p><strong class="hidden-xs">Tag:</strong><kbd class="hidden-xs">韵味</kbd> <kbd class="hidden-xs">开发</kbd> <strong>By:</strong> <i>Sugare</i><strong> On:</strong> <i>15 /23 /32</i></p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <img src="/static/img/info2.jpg" class="img-thumbnail img-responsive" alt="">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <h4><a href="">观点总局发的都是发生 反倒颠倒是非黑白类o</a></h4>
                            <p class="hidden-xs">
                                观点总局发布T 反击的都是发生 反倒是布T 反击的都是发生 反倒是o
                            </p>
                            <p>admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <img src="/static/img/info2.jpg" class="img-thumbnail img-responsive" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <h4>观点总局发的都是发生 反倒</h4>
                            <p class="hidden-xs">
                                观点总局发布T 反击的都是发生 反倒是布T 反击的都是发生 反倒是o
                            </p>
                            <p>admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <img src="/static/img/info2.jpg" class="img-thumbnail img-responsive" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <h4>观点总局发的都是发生 反倒颠倒是非黑白类o</h4>
                            <p class="hidden-xs">
                                观点总局发布T 反击的都是发生 反倒是布T 反击的都是发生 反倒是o
                            </p>
                            <p>admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <img src="/static/img/info2.jpg" class="img-thumbnail img-responsive" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <h4>观点总局发的都是发生 反倒颠倒是非黑白类o</h4>
                            <p class="hidden-xs">
                                观点总局发布T 反击的都是发生 反倒是布T 反击的都是发生 反倒是o
                            </p>
                            <p>admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <img src="/static/img/info2.jpg" class="img-thumbnail img-responsive" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <h4>观点总局发的都是发生 反倒颠倒是非黑白类o</h4>
                            <p class="hidden-xs">
                                观点总局发布T 反击的都是发生 反倒是布T 反击的都是发生 反倒是o
                            </p>
                            <p>admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <img src="/static/img/info2.jpg" class="img-thumbnail img-responsive" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <h4>观点总局发的都是发生 反倒颠倒是非黑白类o</h4>
                            <p class="hidden-xs">
                                观点总局发布T 反击的都是发生 反倒是布T 反击的都是发生 反倒是o
                            </p>
                            <p>admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <img src="/static/img/info2.jpg" class="img-thumbnail img-responsive" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <h4>观点总局发的都是发生 反倒颠倒是非黑白类o</h4>
                            <p class="hidden-xs">
                                观点总局发布T 反击的都是发生 反倒是布T 反击的都是发生 反倒是o
                            </p>
                            <p>admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <img src="/static/img/info2.jpg" class="img-thumbnail img-responsive" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <h4>观点总局发的都是发生 反倒颠倒是非黑白类o</h4>
                            <p class="hidden-xs">
                                观点总局发布T 反击的都是发生 反倒是布T 反击的都是发生 反倒是o
                            </p>
                            <p>admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <img src="/static/img/info2.jpg" class="img-thumbnail img-responsive" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <h4>观点总局发的都是发生 反倒颠倒是非黑白类o</h4>
                            <p class="hidden-xs">
                                观点总局发布T 反击的都是发生 反倒是布T 反击的都是发生 反倒是o
                            </p>
                            <p>admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <img src="/static/img/info2.jpg" class="img-thumbnail img-responsive" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <h4>观点总局发的都是发生 反倒颠倒是非黑白类o</h4>
                            <p class="hidden-xs">
                                观点总局发布T 反击的都是发生 反倒是布T 反击的都是发生 反倒是o
                            </p>
                            <p>admin 15 /23 /32</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <img src="/static/img/info3.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <h4>观点总局发布T生 反倒是o</h4>
                            <p class="hidden-xs">
                                观点总局发布T 反击的都是发生 反局发布T 反击的都是总局发布T 反击的都是发生 反倒是o
                            </p>
                            <p>Tag:韵味，开发 | by admin 15 /23 /32</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 info-right hidden-xs hidden-sm">
                <blockquote>
                    <h2>热门文章</h2>
                </blockquote>

                <div id="hot" class="container-fluid">
                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒 卡萨经济纠纷类数据佛及duos是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>

                    <div class="row info-content" style="display: none">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>

                    <div class="row info-content" style="display: none">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>
                    <span style="display: block" class="glyphicon glyphicon-triangle-bottom text-center btn1"></span>
                </div>

                <blockquote>
                    <h2>文章档案</h2>
                </blockquote>
                <div id="date" class="container-fluid">
                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4>2013年10月 (7)</h4>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4>2013年10月 (7)</h4>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4>2013年10月 (7)</h4>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4>2013年10月 (7)</h4>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4>2013年10月 (7)</h4>
                        </div>
                    </div>
                    <div class="row info-content" style="display: none">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4>2013年10月 (7)</h4>
                        </div>
                    </div>
                    <div class="row info-content" style="display: none">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4>2013年10月 (7)</h4>
                        </div>
                    </div>

                    <span style="display: block" class="glyphicon glyphicon-triangle-bottom text-center btn2"></span>
                </div>

                <blockquote>
                    <h2>文章标签</h2>
                </blockquote>
                 <div class="container-fluid">
                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒 卡萨经济纠纷类数据佛及duos是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>
                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4> 观点总局发布T 发生 反倒是o</h4>
                            <p class="text-center">—— admin 15 /23 /32</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('.btn1').click(function () {
            $('#hot > div:gt(4)').slideToggle(function () {
                $('#hot span').toggleClass('glyphicon-triangle-top')
            });
        });

        $('.btn2').click(function () {
            $('#date > div:gt(5)').slideToggle(function () {
                $('#date span').toggleClass('glyphicon-triangle-top')
            });
        });
    })
</script>


</body>
</html>