<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>No Blog</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>


<header>
    <div id="header" class="container-fluid text-center">
        <div style="margin: 50px 0 40px 0;">
            <h1>No Blog</h1>
        </div>
        <!--<div class="btn-group btn-group-lg">
        <a class="btn btn-info" href="/">主页</a>
        <a class="btn btn-primary" href="/archives/">归档</a>
        <a class="btn btn-info" href="https://github.com/sugare" target="_blank">github</a>
        </div>-->
        <div>
            <h4></hq><span class="glyphicon glyphicon-hand-down"></span></h4>
        </div>
        <div class='ribbon'>
			<a href='/'><span>Home</span></a>
			<a href='/archives/'><span>Archives</span></a>
			<a href='https://github.com/sugare' target="_blank"><span>Github</span></a>
		</div>
    </div>
</header>

<nav id="_nav" class="navbar navbar-default navbar-fixed-top">
    <h1 class="hide">No Blog</h1>
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">No Blog</a>

            <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="divider"></li>
                <li class="active"><a href=""><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a href="/archives/"><span class="glyphicon glyphicon-th"></span> 文档</a></li>
                <li><a href="https://github.com/sugare"><span class=" glyphicon glyphicon-list-alt"></span> Github</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container text-center" id="text_title">
    <a class="h1" href="#">心之何如，有似万丈迷津，遥亘千里，其中并无舟子可以渡人，除了自渡，他人爱莫能助。</a>
    <br><br><br>
    <a href="" class="h1">——三毛</a>

</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

</body>
</html>